<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <button onclick="vm.openform()">open form</button>
    <h1>{{'Nilai :' + a }}</h1>
    <h1>{{'jumlah:' + jumlah }}</h1>
    <h1>{{'Rata rata:' + average }}</h1>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        a: 0,
        b: 0,
        c: 0,
        d: 0,
        e: 0,
        jumlah:0,
        average:0,
        
        
      },
      methods : {
          openform:function(){
            this.a=parseInt(prompt("masukan nilai ke 1")) 
            this.b=parseInt(prompt("masukan nilai ke 2"))
            this.c=parseInt(prompt("masukan nilai ke 3"))
            this.d=parseInt(prompt("masukan nilai ke 4"))
            this.e=parseInt(prompt("masukan nilai ke 5"))
            this.jumlah= this.a + this.b + this.c +this.d
            this.average=this.jumlah / 5
              
          }
      }
      
  })
  </script>
</body>
</html>