<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
    
      
      <component-satu>
        
      </component-satu>
      <component-dua></component-dua>
      <component-tiga></component-tiga>
     
      </div>    
      <template id="component-satu">
        <h2>{{pesan}}</h2>
        <div>
          
        </div>
    </template>
    <template id="component-dua">
       <h1>{{pesan}}</h1>
    </template>
    <template id="component-tiga">
      <h1>{{pesan}}</h1>
   </template>

    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
   Vue.component('component-satu', {
        template: '#component-satu',
        data(){
            return{
                pesan :'ini dari comp 1'
            }
        }
      });
      Vue.component('component-dua', {
        template: '#component-dua',
        data(){
            return{
                'pesan' :'ini dari comp 2'
            }
        }
      });
      Vue.component('component-tiga', {
        template: '#component-tiga',
        data(){
            return{
                'pesan' :'ini dari comp 3'
            }
        }
      });
    var vm = new Vue({
        el: '#app',
        data:{

        },
        method:{
          getblogs: function () {
            const config = {
              method: 'get',
              url: 'http://demo-api-vue.sanbercloud.com/api/member?ID=1094',
            };
            axios(config)
              .then((response) => {
                this.members = response.data.members;
                console.log(this.members);
              })
              .catch((error) => {
                console.log(error);
              });
          },
        }
      });
    </script>
  </body>
</html>
