<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <form @submit.prevent="submitForm()">
        <label>name:</label>
        <input type="text" name="title" ref="title" />
        <br />
        <label>address:</label>
        <textarea name="description" ref="description"></textarea>
        <br />
        <input type="submit" value="SUBMIT" />
      </form>
      <br /><br />
      <table border="1">
        <tr v-for="member of members">
          <td>
            <img
              width="100"
              :src="member.photo_profile ? photoDomain + member.photo_profile : 'https://dummyimage.com/100x80/000000/fff'"
              alt=""
            />
          </td>
          <td>
            <b>name:</b> {{member.name}} <br />
            <b>address:</b>{{member.address}}<br />
          </td>
          <td>
            <button>Edit</button>
            <button>hapus</button>
            <button>upload foto</button>
          </td>
        </tr>
      </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      var vm = new Vue({
        el: '#app',
        data: {
          name: '',
          address: '',
          members: [],
          photoDomain: 'http://demo-api-vue.sanbercloud.com',
        },
        methods: {
          // validation : function(){
          //     this.errors=[]
          //     if(this.name.length<5){
          //         this.errors.push('name minimal 5 karakter')
          //         this.$refs.name.focus()
          //     }
          //     if(this.address.length>10){
          //         this.errors.push('address tidak boleh lebih dari 10 karakter')
          //         this.$refs.address.focus()
          //     }
          // },
          submitForm: function () {
              let formData = new FormData()
              formData.append('name', this.name)
              formData.append('address', this.address)

            const config = {
              method: 'post',
              url: 'http://demo-api-vue.sanbercloud.com/api/member',
              data : formData
            };
            axios(config)
              .then((response) => {
                  console.log(response.data)
              })
              .catch((error) => {});
          },
          getblogs: function () {
            const config = {
              method: 'get',
              url: 'http://demo-api-vue.sanbercloud.com/api/member',
            };
            axios(config)
              .then((response) => {
                this.members = response.data.members;
                console.log(this.members);
              })
              .catch((error) => {
                console.log(error);
              });
          },
        },
        created() {
          this.getblogs();
        },
      });
    </script>
  </body>
</html>
