<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="search" placeholder="search book" />
      <div v-for="book in filteredBooks">
        <ul id="array-rendering">
            <li v-for="books in books" v-for="book in filteredBooks">{{ books }}</li>
          </ul>
      </div>
      
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: '#app',
        data() {
          return {
            books: [
              'kalkulus Dasar',
              'fisika Dasar',
              'Aljabar Linier Elementer',
              'Aljabar Abstrak',
              'Algoritma Pemograman',
            ],
            search:''
            
          };
        },
        computed:{
            filteredBooks:function(){
                return this.books.filter((book)=>{
                   return book.match(this.search) 
                })
            }
        }
      }).mount('#array-rendering');
    </script>
  </body>
</html>
